.bcg {
    background-color: black;
    font-size: 22px;
    width: 320px;
    color: darkgray;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-bottom: 20px;
}

hr {
    width: 280px;
    text-align: left;
    margin-left: 0;
}

#contains {
    padding-left: 10px;
    padding-right: 10px;
}

input[type=text]:focus {
    background-color: #fcf2ba;
   outline:none;
  
}

textarea {
    background-color: #ffffff;
}